@import 'style';
.service {
    .title {
        font-size: 22px;
        color: #74211f;
        margin-bottom: 15px;
        border-bottom: 1px solid #cac9c9;
        padding-bottom: 14px;
    }
    .service-list {
        li {
            width: 245px;
            float: left;
            margin-right: 100px;
            margin-bottom: 30px;
            img {
                display: block;
                width: 245px;
                height: 245px;
            }
            figcaption {
                width: 245px;
                padding: 5px 0px;
                color: #000000;
                text-align: center;
                font-size: 14px;
                line-height: 26px;
                a {
                    color: #000000
                }
            }
        }
        li:nth-of-type(4n) {
            margin-right: 0px;
        }
    }
}

.company-details {
    .left {
        float: left;
        width: 340px;
        height: 340px;
    }
    .right {
        float: left;
        width: 905px;
        padding-left: 35px;
        h1 {
            font-size: 16px;
            color: #000000;
            font-weight: bold;
        }
        p {
            margin-top: 20px;
            font-size: 14px;
            line-height: 24px;
            text-indent: 24px;
        }
        .company-contact {
            margin-top: 20px;
            height: 30px;
            line-height: 30px;
            background: #74211f;
            color: #fff;
            font-size: 14px;
            span {
                margin: 0px 24px;
            }
        }
    }
}

.company-img-details {
    img {
        display: block;
        max-width: 1280px;
        margin: auto;
    }
}