@charset "UTF-8";
/* CSS Document */
html,
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "microsoft yahei", Arial, Verdana, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 24px;
  color: #444;
  background: #fff;
  min-width: 1280px;
}

textarea {
  font-size: 14px;
}

ul,
li,
form,
dl,
dt,
dd,
p,
table,
tr,
td,
textarea,
input,
select,
h1,
h2,
h3,
h4,
h5,
h6,
figcaption,
figure,
button {
  margin: 0;
  padding: 0;
  resize: none;
  font-family: "microsoft yahei", Arial, Verdana, Helvetica, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

img {
  border: 0;
  vertical-align: top;
}

ul {
  list-style: none;
}

/*命名：大的范围，不准使用关键字，如 .title .box .page */
.fclear {
  clear: both;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.blank2 {
  clear: both;
  height: 2px;
  overflow: hidden;
}

.blank4 {
  clear: both;
  height: 4px;
  overflow: hidden;
}

.blank6 {
  clear: both;
  height: 6px;
  overflow: hidden;
}

.blank8 {
  clear: both;
  height: 8px;
  overflow: hidden;
}

.blank5 {
  clear: both;
  height: 5px;
  overflow: hidden;
}

.blank10 {
  clear: both;
  height: 10px;
  overflow: hidden;
}

.blank12 {
  clear: both;
  height: 12px;
  overflow: hidden;
}

.blank14 {
  clear: both;
  height: 14px;
  overflow: hidden;
}

.blank15 {
  clear: both;
  height: 15px;
  overflow: hidden;
}

.blank18 {
  clear: both;
  height: 18px;
  overflow: hidden;
}

.blank20 {
  clear: both;
  height: 20px;
  overflow: hidden;
}

.blank25 {
  clear: both;
  height: 25px;
  overflow: hidden;
}

.blank30 {
  clear: both;
  height: 30px;
  overflow: hidden;
}

.blank40 {
  clear: both;
  height: 40px;
  overflow: hidden;
}

.blank50 {
  clear: both;
  height: 50px;
  overflow: hidden;
}

.blank60 {
  clear: both;
  height: 60px;
  overflow: hidden;
}

.blank80 {
  clear: both;
  height: 80px;
  overflow: hidden;
}

.tac {
  text-align: center;
}

.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.pa {
  position: absolute;
}

.pr {
  position: relative;
}

.dn {
  display: none;
}

.fwb {
  font-weight: bold;
}

.fs12 {
  font-size: 12px;
}

.fs14 {
  font-size: 14px;
}

.fs15 {
  font-size: 15px;
}

.fs16 {
  font-size: 16px;
}

.fs18 {
  font-size: 18px;
}

.fs20 {
  font-size: 20px;
}

.fs22 {
  font-size: 22px;
}

.fs24 {
  font-size: 24px;
}

.fs28 {
  font-size: 28px;
}

.fs36 {
  font-size: 36px;
}

.ffa {
  font-family: Arial;
}

.vam {
  vertical-align: middle;
}

/*-------------------------------------链接----------------------------------------------*/
a {
  text-decoration: none;
  color: #444;
  outline: none;
}

a:hover {
  text-decoration: none;
  color: #444;
}

/*-----------------------------------主体部分--------------------------------------------*/
.index_box {
  width: 1280px;
  margin: 0px auto;
}

.top_box {
  background: #0d0d15;
  height: 82px;
}

.top_box h1 {
  float: left;
  font-size: 32px;
  line-height: 80px;
}

.top_box h1 a {
  color: #fff;
}

.top_box .top_cz {
  float: right;
  font-size: 20px;
  color: #fff;
  margin-top: 28px;
}

.top_box .top_cz span.tel {
  font-size: 18px;
  color: #d1d1d2;
  display: inline-block;
  margin-right: 30px;
}

.top_box .top_cz a {
  color: #fff;
}

.top_box .top_cz span.cz span.fg {
  width: 1px;
  height: 22px;
  border-right: 1px dashed #fff;
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin: 0px 16px;
}

.top_box .top_cz span.cz a:hover {
  text-decoration: underline;
}

/*banner*/
.slideBox {
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative;
}

.slideBox .hd {
  width: 100%;
  height: 15px;
  overflow: hidden;
  position: absolute;
  bottom: 24px;
  z-index: 1;
}

.slideBox .hd ul {
  width: 100%;
  overflow: hidden;
  zoom: 1;
  float: left;
  text-align: center;
}

.slideBox .hd ul li {
  width: 14px;
  height: 14px;
  background: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0px 7px;
  border-radius: 50%;
  vertical-align: top;
}

.slideBox .hd ul li.on {
  background: #74211f;
}

.slideBox .bd {
  width: 100%;
  position: relative;
  height: 450px;
  z-index: 0;
  text-align: center;
}

.slideBox .bd li {
  width: 100%;
  height: 450px;
  zoom: 1;
  vertical-align: middle;
}

.slideBox .bd li a {
  width: 100%;
  height: 450px;
  background-position: top center;
  background-repeat: no-repeat;
  display: inline-block;
}

.slideBox .bd li img {
  width: 100%;
  height: 450px;
}

.search_box {
  width: 682px;
  height: 68px;
  background: rgba(0, 0, 0, 0.16);
  padding: 8px;
  position: absolute;
  top: 180px;
  left: 50%;
  margin-left: -349px;
}

.search_box .search_con {
  width: 100%;
  height: 68px;
  background: #fff;
}

.search_box .search_con input.input_1 {
  width: 558px;
  height: 68px;
  border: none;
  background: #fff;
  float: left;
  font-size: 24px;
  padding: 0px 22px;
  outline: none;
}

.search_box .search_con a.search_btn {
  width: 80px;
  height: 68px;
  background: url(../images/ic_search.png) no-repeat center #74211f;
  float: right;
}

/*nav*/
.nav_box {
  height: 50px;
  background: #74211f;
}

.nav_box .nav_ul {
  float: left;
}

.nav_box .nav_ul li {
  float: left;
  font-size: 18px;
  line-height: 50px;
  margin-right: 10px;
}

.nav_box .nav_ul li a {
  padding: 0px 20px;
  color: #fff;
  display: inline-block;
}

.nav_box .nav_ul li a:hover {
  background: #610e0c;
}

.classify_cz {
  height: 50px;
  float: left;
}

.classify_cz a.classify_btn {
  color: #fff;
  font-size: 18px;
  line-height: 36px;
  margin-top: 7px;
  padding: 0px 18px;
  border-radius: 5px;
  margin-right: 6px;
  display: inline-block;
}

.classify_cz a.classify_btn span.wz {
  background: url(../images/ic_4.png) no-repeat right;
  padding-right: 28px;
}

.classify_cz.on a.classify_btn {
  background-color: #fff;
  color: #74211f;
}

.classify_cz.on a.classify_btn span.wz {
  background: url(../images/ic_5.png) no-repeat right;
}

.classify_cz a.classify_btn:hover {
  background-color: #fff;
  color: #74211f;
}

.classify_cz a.classify_btn:hover span.wz {
  background: url(../images/ic_5.png) no-repeat right;
}

.classify_menu {
  position: absolute;
  left: 0px;
  top: 50px;
  border: 1px solid #e7e7e7;
  padding: 10px 0px;
  display: none;
  background: #fff;
  z-index: 2;
}

.classify_menu li.mainCate {
  width: 100%;
  height: 36px;
  position: relative;
}

.classify_menu li.mainCate h3 {
  width: 280px;
  line-height: 36px;
  padding-left: 20px;
  cursor: pointer;
  color: #000;
  font-size: 16px;
  background: url(../images/ic_1.png) 94% center no-repeat;
}

.classify_menu li.mainCate.on h3 {
  width: 281px;
  color: #f80903;
  position: relative;
  z-index: 2;
  background: url(../images/ic_3.png) 94% center no-repeat #a0a0a0;
  padding-left: 20px;
}

.subCate {
  width: 948px;
  min-height: 477px;
  padding: 5px 15px;
  position: absolute;
  z-index: 1;
  background: #fff;
  left: 300px;
  border: 1px solid #e3e3e3;
  font-size: 16px;
  display: none;
  box-shadow: 0px 0px 6px #ddd;
}

.subCate .sub_menu {
  width: 100%;
  display: table;
  content: "";
  margin: 12px 0px;
}

.subCate span.subclass_name {
  width: 115px;
  float: left;
  padding-left: 15px;
  line-height: 28px;
}

.subCate span.subclass_name a {
  color: #000;
  background: url(../images/ic_2.png) no-repeat right;
  padding-right: 25px;
}

.subCate span.subclass_name a:hover {
  color: #74211f;
  background: url(../images/ic_2.png) no-repeat right;
}

.subCate .con {
  color: #ddd;
  line-height: 28px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 8px;
  margin-left: 130px;
}

.subCate .con a {
  white-space: nowrap;
  display: inline-block;
  color: #666;
  margin: 0px 10px;
}

.subCate .con a:hover {
  color: #74211f;
}

.subCate .con:last-child {
  border: none;
}

/**/
.classify_tc {
  background: #f9f8f8;
  width: 100%;
  display: table;
  content: "";
  padding: 70px 0px 40px 0px;
  margin-bottom: 70px;
}

.classify_tc_ul li {
  width: 33.3%;
  text-align: center;
  float: left;
}

.classify_tc_ul li .con {
  border-right: 1px solid #d2d2d2;
  padding: 0px 48px;
}

.classify_tc_ul li span.ic_hot {
  width: 27px;
  height: 18px;
  background: url(../images/ic_hot.png) no-repeat;
  display: inline-block;
  margin-left: 5px;
  position: relative;
  top: -6px;
}

.classify_tc_ul li p.wz_1 {
  font-size: 24px;
  color: #333;
  margin-bottom: 16px;
}

.classify_tc_ul li p.wz_2 {
  font-size: 16px;
  color: #5e5e5e;
  line-height: 26px;
}

.classify_tc_ul li p.price {
  font-size: 30px;
  color: #6f6f6f;
  line-height: 36px;
  margin-top: 8px;
}

.classify_tc_ul li .cz {
  margin-top: 40px;
}

.classify_tc_ul li .cz a {
  width: 144px;
  height: 38px;
  line-height: 38px;
  color: #fff;
  font-size: 14px;
  display: inline-block;
  border-radius: 5px;
  background: #aaa;
}

.classify_tc_ul li .cz a:hover {
  background: #74211f;
}

.classify_tc_ul li:last-child .con {
  border-right: 0px;
}

.picture_menu {
  border-bottom: 1px solid #959595;
  height: 54px;
  margin-bottom: 25px;
}

.picture_menu li {
  width: 20%;
  float: left;
  line-height: 54px;
  font-size: 24px;
  text-align: center;
}

.picture_menu li a {
  width: 100%;
  display: inline-block;
}

.picture_menu li a:hover {
  color: #74211f;
}

.picture_menu li.on a {
  background: #74211f;
  color: #fff;
}

.picture_menu li.li_3 a {
  color: #fce73a;
}

.picture_menu li.li_5 a {
  color: #f91515;
}

.picture_menu li span.ic_new {
  width: 43px;
  height: 14px;
  display: inline-block;
  background: url(../images/ic_new.png) no-repeat;
  vertical-align: middle;
  margin-left: 7px;
  position: relative;
  top: -10px;
}

.picture_ul {
  width: 100%;
  display: table;
  content: "";
}

.picture_ul li {
  width: 250px;
  border: 1px solid #f4f3f3;
  float: left;
  margin-right: 5px;
  margin-bottom: 8px;
  position: relative;
}

.picture_ul li:nth-child(5n) {
  margin-right: 0px;
}

.picture_ul li:hover {
  border: 1px solid #74211f;
}

.picture_ul li.on {
  border: 1px solid #74211f;
}

.picture_ul li a {
  width: 100%;
  display: inline-block;
  vertical-align: top;
}

.picture_ul li p.pt {
  width: 250px;
  height: 250px;
  overflow: hidden;
}

.picture_ul li p.pt img {
  width: 250px;
  height: 250px;
  -webkit-transition: all 1.2s ease-in-out;
  -moz-transition: all 1.2s ease-in-out;
  -ms-transition: all 1.2s ease-in-out;
  -o-transition: all 1.2s ease-in-out;
  transition: all 1.2s ease-in-out;
}

.picture_ul li:hover p.pt img {
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}

.picture_ul li p.name {
  font-size: 16px;
  line-height: 36px;
  text-align: center;
  background: #f4f3f3;
  height: 36px;
  overflow: hidden;
}

.picture_ul li p.name span.num {
  display: inline-block;
  margin: 0px 12px;
}

.picture_ul li p.name span.sy {
  margin-left: 12px;
  display: inline-block;
}

.picture_ul li:hover p.name {
  background: #74211f;
  color: #fff;
}

.picture_ul li.on p.name {
  background: #74211f;
  color: #fff;
}

.picture_ul li span.ic_collect {
  background: url(../images/ic_star_2.png) no-repeat left;
  padding-left: 16px;
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 2;
  color: #aaa;
  display: none;
  cursor: pointer;
}

.picture_ul li span.ic_collect.on {
  background: url(../images/ic_star_3.png) no-repeat left;
  color: #74211f;
}

.picture_ul li:hover span.ic_collect {
  display: block;
}

.picture_box .more {
  padding: 20px 0px 30px 0px;
}

.picture_box .more a {
  width: 100%;
  color: #74211f;
  font-size: 18px;
  text-align: center;
  display: inline-block;
  line-height: 44px;
}

.picture_menu_1 {
  text-align: center;
  margin: 20px 0px 40px 0px;
}

.picture_menu_1 li {
  display: inline-block;
  font-size: 18px;
  line-height: 18px;
  border-right: 1px solid #bfbfbf;
}

.picture_menu_1 li:last-child {
  border-right: 0px;
}

.picture_menu_1 li a {
  display: inline-block;
  padding: 0px 60px;
}

.picture_menu_1 li.on a {
  color: #74211f;
}

.search_con_1 {
  width: 380px;
  height: 38px;
  background: #fff;
  float: left;
  margin: 22px 0px 0px 50px;
}

.search_con_1 input.input_1 {
  width: 306px;
  height: 38px;
  border: none;
  background: #fff;
  float: left;
  font-size: 16px;
  padding: 0px 15px;
  outline: none;
}

.search_con_1 a.search_btn {
  width: 44px;
  height: 38px;
  background: url(../images/ic_search.png) no-repeat center #74211f;
  float: right;
  background-size: 44px 38px;
}

.picture_box .sm_wz {
  color: #999;
  font-size: 18px;
  margin: 40px 0px 70px 0px;
  text-align: center;
  background: url(../images/fg_bg.jpg) repeat-x center;
}

.picture_box .sm_wz span {
  display: inline-block;
  background: #fff;
  padding: 0px 30px;
}

.search_select {
  margin: 12px 0px 30px 0px;
}

.search_select select.select_1 {
  width: 150px;
  border: 1px solid #d5bcbb;
  font-size: 16px;
  color: #74211f;
  margin-right: 15px;
  height: 30px;
  padding-left: 10px;
  outline: none;
}

.search_select .wz_1 {
  font-size: 16px;
  line-height: 32px;
}

.search_select .wz_1 span.pt_num {
  color: #74211f;
  display: inline-block;
  padding: 0px 5px;
  font-weight: bold;
}

/*detail*/
.detail_box {
  margin: 50px 0px 30px 0px;
}

.detail_box .pt_con {
  width: 515px;
  padding: 15px 40px;
  border: 1px solid #959494;
}

.detail_box .pt_con .detail_pt {
  margin-bottom: 50px;
}

.detail_box .pt_con .detail_pt img {
  width: 100%;
}

.detail_box .pt_con .cz a.ic_collect {
  color: #6f6e6e;
  font-size: 18px;
  background: url(../images/ic_9.png) no-repeat left;
  padding-left: 22px;
  display: inline-block;
}

.detail_box .pt_con .cz a.ic_collect.on {
  color: #74211f;
  background: url(../images/ic_10.png) no-repeat left;
}

.detail_box .pt_con .cz span.fx_wz {
  font-size: 18px;
  float: left;
}

.detail_con {
  width: 660px;
}

.detail_con .con_1 {
  background: #f6f4f4;
  line-height: 60px;
  font-size: 18px;
  padding-left: 22px;
}

.detail_con .con_1 span.price {
  display: inline-block;
  width: 40%;
  font-size: 22px;
}

.detail_con .con_1 span.price span.red {
  font-size: 28px;
  color: #f91d1d;
}

.detail_con .con_1 span.hy_wz {
  color: #f6e91b;
  text-shadow: 1px 1px 1px #333;
}

.detail_con .con_1 span.hy_price {
  color: #f91d1d;
}

.detail_con .con_1 span.price_1 {
  text-decoration: line-through;
  color: #a5a5a5;
  margin-left: 12px;
  display: inline-block;
}

.detail_con .con_2 {
  padding: 29px 22px;
}

.detail_con .con_2 p.wz_1 {
  font-size: 18px;
  color: #999;
  margin-bottom: 20px;
}

.detail_con .con_2 .mx_ul {
  color: #333;
}

.detail_con .con_2 .mx_ul li {
  font-size: 18px;
  line-height: 36px;
}

.detail_con .con_2 .mx_ul li span.wz {
  width: 92px;
  display: inline-block;
  text-align: right;
  margin-right: 12px;
}

.detail_con .con_2 .check_con {
  margin-top: 32px;
}

.detail_con .con_2 .check_con label {
  margin-right: 30px;
  font-size: 20px;
  color: #333;
}

.detail_con .con_2 .check_con label input.input_1 {
  margin-left: 8px;
}

.detail_con .cz a {
  font-size: 18px;
  color: #fff;
  padding: 0px 18px;
  line-height: 46px;
  margin-right: 20px;
  display: inline-block;
  opacity: 0.9;
}

.detail_con .cz a.btn_1 {
  background: #74211f;
}

.detail_con .cz a.btn_2 {
  background: #c5601d;
}

.detail_con .cz a:hover {
  opacity: 1;
}

.detail_con .wt {
  margin-top: 12px;
  line-height: 26px;
}

.detail_con .wt a.answer_btn {
  display: inline-block;
  background: url(../images/ic_8.png) no-repeat left;
  padding-left: 27px;
  color: #74211f;
}

.picture_infor .title {
  font-size: 22px;
  color: #74211f;
  margin-bottom: 15px;
}

.picture_infor_ul {
  border: 1px solid #e3d3d2;
  padding: 22px;
}

.picture_infor_ul li {
  font-size: 20px;
  line-height: 50px;
  padding: 0px 30px;
  color: #999;
}

.picture_infor_ul li:nth-child(odd) {
  background: #f9f7f7;
}

.picture_infor_ul li span.wz {
  width: 100px;
  text-align: right;
  display: inline-block;
  margin-right: 12px;
}

.comment_box .title {
  font-size: 22px;
  color: #74211f;
  margin-bottom: 22px;
}

.comment_con .comment_ul li {
  width: 100%;
  display: none;
  content: "";
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 16px;
  margin-bottom: 16px;
}

.comment_con .comment_ul li .con_1 {
  width: 146px;
  float: left;
}

.comment_con .comment_ul li .con_1 .tx {
  width: 70px;
  float: left;
}

.comment_con .comment_ul li .con_1 .tx img {
  width: 70px;
  height: 70px;
}

.comment_con .comment_ul li .con_1 .zl {
  width: 72px;
  float: right;
}

.comment_con .comment_ul li .con_1 .zl p.name {
  line-height: 16px;
  font-size: 14px;
  height: 32px;
  overflow: hidden;
}

.comment_con .comment_ul li .con_1 .zl p.st {
  height: 19px;
  overflow: hidden;
}

.comment_con .comment_ul li .con_1 .zl span.vip_wz {
  width: 100%;
  display: inline-block;
  background: #fff100;
  text-align: center;
  color: #ef2c27;
  line-height: 16px;
}

.comment_con .comment_ul li .con_1 .zl a.attention_btn {
  width: 100%;
  display: inline-block;
  line-height: 16px;
  background: #dcdcdc;
  text-align: center;
}

.comment_con .comment_ul li .con_1 .zl a.attention_btn.on {
  background: #74211f;
  color: #fff;
}

.comment_con .comment_ul li .con_2 {
  width: 1040px;
  float: right;
  font-size: 14px;
}

.comment_con .comment_ul li .con_2 span.time {
  float: right;
}

.comment_con .comment_ul li .con_2 p.wz {
  width: 900px;
}

.comment_con .cz {
  text-align: center;
  margin: 22px 0px;
}

.comment_con .cz a.unfold_btn {
  background: url(../images/ic_6.png) no-repeat right;
  padding-right: 26px;
  display: inline-block;
  font-size: 16px;
  color: #777;
}

.comment_con .cz a.unfold_btn.on {
  background: url(../images/ic_7.png) no-repeat right;
}

.comment_text .con {
  width: 100%;
  display: table;
  content: "";
}

.comment_text .con .tx {
  width: 70px;
  float: left;
}

.comment_text .con .tx img {
  width: 70px;
  height: 70px;
}

.comment_text .con .text_div {
  float: right;
  width: 1170px;
}

.comment_text .con .text_div textarea.text_1 {
  width: 1138px;
  height: 160px;
  border: 1px solid #74211f;
  padding: 15px;
  outline: none;
  font-size: 16px;
}

.comment_text .cz {
  text-align: right;
  margin-top: 12px;
}

.comment_text .cz a.submit_btn {
  background: #e5e5e5;
  width: 134px;
  color: #74211f;
  line-height: 30px;
  font-size: 16px;
  text-align: center;
  display: inline-block;
}

.comment_text .cz a.submit_btn:hover {
  background: #74211f;
  color: #fff;
}

.picuure_more .title {
  font-size: 22px;
  color: #74211f;
  margin-bottom: 15px;
  border-bottom: 1px solid #cac9c9;
  padding-bottom: 14px;
}

.picuure_more .title a.more_btn {
  float: right;
  color: #74211f;
  font-size: 18px;
}

.tc_flow {
  width: 100%;
  display: table;
  content: "";
}

.tc_flow li {
  width: 25%;
  float: left;
}

.tc_flow li span.num {
  width: 46px;
  height: 74px;
  line-height: 74px;
  text-align: center;
  color: #fff;
  font-size: 26px;
  float: left;
}

.tc_flow li.n_1 span.num {
  background: #d9514a;
}

.tc_flow li.n_2 span.num {
  background: #f39800;
}

.tc_flow li.n_3 span.num {
  background: #8fc31f;
}

.tc_flow li.n_4 span.num {
  background: #8cdcdf;
}

.tc_flow li .con {
  height: 72px;
  border-top: 1px solid #d5d4d4;
  border-bottom: 1px solid #d5d4d4;
  padding: 0px 20px;
  margin-left: 46px;
}

.tc_flow li.n_4 .con {
  border-right: 1px solid #d5d4d4;
}

.tc_flow li .con p.wz_1 {
  font-size: 18px;
  color: #000;
  margin: 10px 0px 6px 0px;
}

.tc_flow li .con p.wz_2 {
  font-size: 14px;
  color: #747373;
  line-height: 18px;
}

.tc_flow li.n_4 .con p.wz_2 {
  color: #fb9595;
}

.net_tc {
  margin-bottom: 36px;
}

.net_tc .t_name {
  font-size: 20px;
  color: #74211f;
  margin-bottom: 12px;
}

table.table_con_1 {
  width: 100%;
  border: 1px solid #cdcdcd;
  text-align: center;
  border-collapse: collapse;
  font-size: 16px;
  line-height: 38px;
  margin-bottom: 15px;
}

table.table_con_1 tr th {
  background: #74211f;
  color: #fff;
}

table.table_con_1 tr td {
  line-height: 42px;
}

table.table_con_1 tr td label {
  display: inline-block;
}

table.table_con_1 tr td label input {
  margin-right: 12px;
}

table.table_con_1 tr:nth-child(odd) {
  background: #f7f7f7;
}

.net_tc a.buy_btn {
  width: 160px;
  line-height: 36px;
  background: #74211f;
  border-radius: 5px;
  display: inline-block;
  color: #fff;
  font-size: 14px;
}

.login_bg {
  width: 100%;
  height: 562px;
  background: url(../images/login_bg.jpg) no-repeat top center;
}

.login_box {
  width: 302px;
  border: 2px solid #9a9282;
  padding: 24px;
  float: right;
  margin: 40px 75px 0px 0px;
}

.login_box .title {
  font-size: 26px;
  color: #161616;
  line-height: 26px;
}

.login_box ul {
  margin-top: 35px;
}

.login_box ul li {
  min-height: 70px;
}

.login_box ul li p.nr_con {
  background: #fff;
  height: 38px;
  line-height: 38px;
}

.login_box ul li p.nr_con span.wz {
  font-size: 16px;
  text-align: right;
  width: 60px;
  display: inline-block;
}

.login_box ul li p.nr_con input.input_1 {
  width: 220px;
  border: none;
  height: 38px;
  vertical-align: top;
  float: right;
  font-size: 14px;
  outline: none;
}

.login_box ul li button.submit_btn {
  line-height: 38px;
  width: 100%;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  background: #74211f;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.login_box ul li label.label_password {
  font-size: 14px;
}

.login_box ul li label.label_password input {
  outline: none;
  margin-right: 9px;
  position: relative;
  top: 1px;
}

.login_box ul li label.error {
  color: #74211f;
  padding-left: 81px;
}

.login_box ul li.cz_1 {
  min-height: 40px;
  font-size: 14px;
  color: #757575;
}

.login_box ul li.cz_1 a {
  color: #74211f;
}

.login_box ul li.cz_1 a:hover {
  text-decoration: underline;
}

.footer_1 {
  line-height: 28px;
  margin-top: -15px;
  font-size: 14px;
}

.footer_1 p.wz_2 {
  color: #74211f;
}

.footer_1 p.wz_3 span.fg {
  display: inline-block;
  margin: 0px 9px;
}

.footer_1 p.wz_4 {
  color: #757272;
}

.register_nn {
  text-align: right;
  font-size: 16px;
  color: #a1a0a0;
  line-height: 50px;
}

.register_nn a {
  color: #fff;
}

.register_nn a:hover {
  text-decoration: underline;
}

.register_box {
  padding: 100px 0px;
}

.register_1 {
  width: 600px;
  padding: 0px 120px 0px 190px;
  border-right: 1px solid #dadada;
}

.register_1 ul li {
  min-height: 95px;
}

.register_1 ul li p.nr_con {
  border: 1px solid #dadada;
  background: #fff;
  height: 52px;
  line-height: 52px;
}

.register_1 ul li p.nr_con span.wz {
  font-size: 16px;
  width: 100px;
  text-align: right;
  display: inline-block;
}

.register_1 ul li p.nr_con input.input_1 {
  width: 460px;
  border: none;
  height: 52px;
  vertical-align: top;
  float: right;
  font-size: 16px;
  outline: none;
}

.register_1 ul li input.get_code {
  cursor: pointer;
  outline: none;
  height: 44px;
  border: none;
  background: #dadada;
  width: 112px;
  text-align: center;
  position: absolute;
  top: 4px;
  right: 4px;
}

.register_1 ul li button.submit_btn {
  line-height: 66px;
  width: 100%;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  background: #74211f;
  font-size: 22px;
  cursor: pointer;
}

.register_1 ul li.fwxy_li {
  font-size: 16px;
}

.register_1 ul li.fwxy_li input.input_check {
  margin-right: 10px;
}

.register_1 ul li.fwxy_li a.btn_1 {
  color: #74211f;
}

.register_1 ul li.fwxy_li a.btn_1:hover {
  text-decoration: underline;
}

.register_1 ul li label.error {
  color: #74211f;
  padding-left: 140px;
  font-size: 14px;
  margin-top: 5px;
  display: block;
}

.register_1 ul li.cz_1 {
  min-height: 70px;
}

.wrapper_box {
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.clause_pop {
  width: 1000px;
  border-radius: 5px;
  background: #fff;
  margin: 0 auto;
  margin-top: 1%;
}

.clause_pop .title {
  width: 100%;
  height: 60px;
  line-height: 60px;
  position: relative;
  background: #74211f;
  font-size: 18px;
  color: #fff;
  text-align: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.clause_pop .title a.close_btn {
  width: 18px;
  height: 18px;
  background: url(../images/ic_close.png) no-repeat;
  position: absolute;
  top: 21px;
  right: 20px;
}

.clause_pop .content {
  padding: 25px 35px;
  padding-bottom: 30px;
  font-size: 14px;
}

.clause_pop .content .clause_con {
  height: 240px;
  line-height: 26px;
  overflow-y: auto;
}

.clause_pop .content .clause_con p.wz {
  margin-bottom: 22px;
}

.clause_pop .content .clause_con p.tem {
  text-indent: 1.4em;
}

.clause_pop .content a.btn {
  width: 260px;
  background: #74211f;
  line-height: 46px;
  font-size: 16px;
  color: #fff;
  text-align: center;
  display: inline-block;
  border-radius: 5px;
  margin-top: 20px;
}

.tx_upload {
  width: 255px;
}

.tx_upload .con p.tx {
  width: 146px;
  border: 1px solid #d2d2d2;
  border-radius: 5px;
  position: relative;
}

.tx_upload .con p.tx img {
  width: 146px;
  height: 146px;
  border-radius: 5px;
}

.tx_upload .con p.tx span.wz_1 {
  width: 100%;
  position: absolute;
  top: 44%;
  left: 0px;
  text-align: center;
  color: #7c7c7c;
  font-size: 14px;
}

.tx_upload .con p.tx input.file_input {
  width: 146px;
  height: 146px;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
}

.tx_upload .con p.cz a {
  color: #fff;
  width: 148px;
  line-height: 28px;
  font-size: 14px;
  display: inline-block;
  background: #dadada;
  text-align: center;
  margin-top: 10px;
}

.tx_upload .con p.cz a:hover {
  background: #74211f;
}

.tx_upload .con p.wz {
  line-height: 22px;
  margin-top: 30px;
  font-size: 14px;
  color: #666;
}

/*个人中心*/
.tx_box {
  float: right;
  margin-top: 3px;
  position: relative;
}

.tx_box .tx_con {
  width: 50px;
  height: 50px;
  padding: 11px;
  border: 1px solid #393939;
  background: url(../images/ic_12.png) no-repeat 60px 60px;
  cursor: pointer;
}

.tx_box .tx_con span.tx img {
  width: 50px;
  height: 50px;
}

.person_menu {
  width: 178px;
  background: #fff;
  border: 1px solid #c9c9c9;
  position: absolute;
  top: 79px;
  right: 0px;
  display: none;
}

.person_menu .menu_1 li {
  padding: 0px 20px;
  font-size: 14px;
}

.person_menu .menu_1 li a {
  width: 83%;
  display: inline-block;
  line-height: 44px;
  padding-left: 17%;
}

.person_menu .menu_1 li a:hover {
  color: #74211f;
}

.person_menu .menu_1 li a.btn_1 {
  background: url(../images/ic_person_1.png) no-repeat left;
}

.person_menu .menu_1 li a.btn_2 {
  background: url(../images/ic_person_2.png) no-repeat left;
}

.person_menu .menu_1 li a.btn_3 {
  background: url(../images/ic_person_3.png) no-repeat left;
}

.person_menu .menu_1 li a.btn_4 {
  background: url(../images/ic_person_4.png) no-repeat left;
}

.person_menu .menu_1 li a.btn_5 {
  background: url(../images/ic_person_5.png) no-repeat left;
}

.person_menu .menu_1 li.n_back {
  border-top: 1px solid #c9c9c9;
}

.box_bg {
  width: 100%;
  display: table;
  content: "";
  background: #f1f0f0;
}

.person_con {
  background: #fff;
  margin-top: 86px;
}

.person_con .person_1 {
  padding: 0px 20px;
}

.person_con .person_1 .tx {
  float: left;
  border: 8px solid #fff;
  margin-top: -50px;
}

.person_con .person_1 .tx span {
  display: inline-block;
  border: 1px solid #74211f;
}

.person_con .person_1 .tx span img {
  width: 198px;
  height: 198px;
}

.person_con .person_1 .con {
  width: 994px;
  float: right;
  padding-top: 24px;
}

.person_con .person_1 .con span.name {
  font-size: 28px;
  color: #74211f;
}

.person_con .person_1 .con a.tc_btn {
  color: #fc241d;
  font-size: 14px;
  margin-left: 20px;
}

.person_con .person_1 .con a.set_btn {
  border: 1px solid #c2c0c0;
  border-radius: 3px;
  line-height: 30px;
  color: #74211f;
  font-size: 14px;
  float: right;
  padding: 0px 22px;
  box-shadow: 0px 2px 2px #ddd;
  background-image: -webkit-linear-gradient(top, #fff, #f1f0f0);
  background-image: -o-linear-gradient(top, #fff, #f1f0f0);
  background-image: -moz-linear-gradient(top, #fff, #f1f0f0);
  background-image: -chrome-linear-gradient(top, #fff, #f1f0f0);
  background-image: -ms-linear-gradient(top, #fff, #f1f0f0);
  background-image: linear-gradient(top, #fff, #f1f0f0);
  background-color: #f1f0f0;
}

.person_con .person_1 .con a.set_btn:hover {
  color: #fff;
  background: #74211f;
}

.person_con .person_gz {
  padding: 0px 28px;
  margin-top: 40px;
  padding-bottom: 18px;
}

.person_con .person_gz a {
  font-size: 20px;
  display: inline-block;
}

.person_con .person_gz a span.hs {
  color: #777;
  display: inline-block;
  margin-right: 9px;
}

.person_con .person_gz a.btn_1 {
  background: url(../images/ic_like.png) no-repeat left;
  padding-left: 23px;
}

.person_con .person_gz span.fg {
  width: 1px;
  height: 18px;
  border-left: 1px dashed #666;
  display: inline-block;
  margin: 0px 22px;
}

.person_menu_1 {
  border-top: 1px solid #c7a6a5;
}

.person_menu_1 li {
  width: 20%;
  float: left;
  font-size: 18px;
  text-align: center;
  line-height: 44px;
  background: #74211f;
}

.person_menu_1 li a {
  width: 100%;
  display: inline-block;
  color: #fff;
}

.person_menu_1 li.on a {
  color: #74211f;
  background: #fff;
}

.order_screen {
  height: 48px;
  background: #fff;
}

.order_screen .order_menu {
  padding-top: 14px;
  float: left;
}

.order_screen .order_menu li {
  width: 370px;
  text-align: center;
  float: left;
  font-size: 16px;
  line-height: 20px;
  border-right: 1px solid #c9c9c9;
}

.order_screen .order_menu li:last-child {
  border-right: 0px;
}

.order_screen .order_menu li a {
  width: 100%;
  display: inline-block;
}

.order_screen .order_menu li.on a {
  color: #c3110d;
  font-weight: bold;
}

.order_screen .order_menu li a:hover {
  color: #c3110d;
}

.order_screen a.compile_btn {
  float: right;
}

.order_screen .cz {
  font-size: 20px;
  float: right;
  padding-top: 12px;
  padding-right: 26px;
}

.order_screen .cz a:hover {
  color: #74211f;
}

.order_screen .cz a.complete_btn {
  color: #74211f;
}

.order_screen .cz a.delete_btn {
  width: 21px;
  height: 26px;
  background: url(../images/ic_delete1.png) no-repeat;
  display: inline-block;
  margin-right: 24px;
  float: left;
}

.order_list li {
  width: 1264px;
  border: 1px solid #b5b5b5;
  background: #fff;
  margin-bottom: 5px;
  padding: 7px;
  display: table;
  content: "";
}

.order_list li .pt {
  float: left;
}

.order_list li .pt img {
  width: 140px;
  height: 94px;
}

.order_list li .con {
  width: 800px;
  float: left;
  margin-left: 24px;
}

.order_list li .con span.jg {
  min-width: 140px;
  float: left;
}

.order_list li .con .price {
  height: 24px;
  font-size: 14px;
  padding-top: 8px;
}

.order_list li .con .price span.num {
  font-size: 18px;
  color: #f91d1d;
  display: inline-block;
  margin-left: 8px;
}

.order_list li .con .price input.input_1 {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  display: none;
}

.order_list li .con .wz {
  margin-top: 30px;
  color: #666;
}

.order_list li .con .wz span.mx {
  display: inline-block;
  margin: 0px 24px;
}

.order_list li .con .wz span.bh {
  display: inline-block;
  margin-left: 80px;
}

.order_list li .con .wz span.time {
  float: right;
}

.order_list li .cz {
  float: right;
  margin-right: 16px;
  margin-top: 4px;
}

.order_list li .cz a {
  width: 144px;
  line-height: 30px;
  display: inline-block;
  text-align: center;
  font-size: 14px;
  margin: 6px 0px;
}

.order_list li .cz a.btn_1 {
  border: 1px solid #c9c9c9;
}

.order_list li .cz a.btn_2 {
  border: 1px solid #e5e5e5;
  background: #e5e5e5;
}

.order_list li .cz a.btn_3 {
  border: 1px solid #f91d1d;
  color: #f91d1d;
}

.order_list li .cz a.btn_4 {
  border: 1px solid #e5e5e5;
  background: #e5e5e5;
}

.order_list li .cz a.btn_4 span {
  display: inline-block;
  background: url(../images/ic_13.png) no-repeat left;
  padding-left: 21px;
}

.order_list li .cz a.btn_5 {
  border: 1px solid #29265b;
  background: #29265b;
  color: #fff;
}

.order_list li .cz a.btn_5 span {
  display: inline-block;
  background: url(../images/ic_14.png) no-repeat left;
  padding-left: 21px;
}

.order_box {
  padding-bottom: 60px;
}

.order_box .pagination {
  padding: 30px 0px 0px 0px;
}

.menu_con_1 {
  background: #dfdede;
  height: 32px;
  padding-top: 16px;
}

.menu_con_1 li {
  width: 19.7%;
  float: left;
  border-right: 1px solid #fff;
  border-left: 1px solid #aaa;
  line-height: 16px;
  font-size: 14px;
  text-align: center;
}

.menu_con_1 li:first-child {
  border-left: 0px;
}

.menu_con_1 li:last-child {
  border-right: 0px;
}

.record_list {
  background: #fff;
}

.record_list li {
  width: 100%;
  display: table;
  content: "";
  padding: 16px 0px;
  border-bottom: 1px dashed #bfbfbf;
  position: relative;
}

.record_list li span {
  display: inline-block;
  width: 19.8%;
  text-align: center;
  float: left;
  font-size: 16px;
}

.record_list li span.num {
  width: none;
  float: none;
  margin: 0px 10px;
}

.record_list li input.input_1 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 18px;
  left: 18px;
  display: none;
}

.order_box .picture_ul li p.name {
  background: #dfdede;
}

.order_box .picture_ul li:hover p.name {
  background: #74211f;
}

.order_box .picture_ul li input.input_1 {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 18px;
  left: 18px;
  z-index: 2;
  display: none;
}

.order_screen .cz_1 {
  width: 1000px;
}

.order_screen .order_cz {
  float: right;
}

.order_screen a.all_buy_btn {
  font-size: 14px;
  background: #aaa;
  width: 140px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  color: #fff;
  line-height: 28px;
  margin-right: 35px;
  float: right;
}

.order_screen a.all_buy_btn:hover {
  color: #fff;
}

.order_screen a.all_buy_btn.on {
  background: #74211f;
  color: #fff;
}

.order_screen .zj_wz {
  font-size: 16px;
  float: left;
  padding: 12px 0px 0px 24px;
}

.order_screen .zj_wz span.gl {
  color: #74211f;
  font-weight: bold;
}

.person_set {
  margin-bottom: 60px;
}

.person_set .title_con {
  background: #dfdede;
  line-height: 50px;
  padding: 0px 26px;
}

.person_set .title_con span.t_name {
  font-size: 22px;
  display: inline-block;
  vertical-align: top;
}

.person_set .title_con .cz {
  float: right;
  font-size: 18px;
}

.person_set .title_con .cz a.set_compile_btn {
  background: url(../images/ic_15.png) no-repeat right;
  background-size: 20px 22px;
  padding-right: 28px;
  display: inline-block;
}

.person_set .title_con .cz a.set_complete_btn {
  color: #74211f;
}

.person_set .set_ul {
  background: #fff;
  border: 1px solid #d3d2d2;
  padding: 20px;
}

.person_set .set_ul li {
  width: 100%;
  display: table;
  content: "";
  padding: 38px 0px;
  border-bottom: 1px solid #ebebeb;
}

.person_set .set_ul li span.name {
  font-size: 20px;
  float: left;
  width: 150px;
  text-align: right;
  color: #74211f;
  margin-right: 120px;
  line-height: 50px;
}

.person_set .set_ul li input.input_1 {
  width: 400px;
  border: none;
  font-size: 20px;
  height: 50px;
  outline: none;
  background: #fff;
  padding-left: 20px;
}

.person_set .set_ul li input.input_1.on {
  background: #eee;
}

.person_set .set_ul li .tx_file span.tx {
  width: 50px;
  float: left;
  margin-left: 20px;
}

.person_set .set_ul li .tx_file span.tx img {
  width: 50px;
  height: 50px;
}

.person_set .set_ul li .tx_file span.tx_upload {
  width: 120px;
  position: relative;
  line-height: 30px;
  background: #74211f;
  margin: 10px 0px 0px 20px;
  border-radius: 5px;
  color: #fff;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  display: none;
}

.person_set .set_ul li .tx_file span.tx_upload input {
  width: 100%;
  height: 30px;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
  cursor: pointer;
}

.title_box {
  background: #dfdede;
  padding: 0px 24px;
  line-height: 50px;
  font-size: 18px;
}

.person_fans {
  width: 100%;
  display: table;
  content: "";
}

.person_fans li {
  width: 286px;
  border: 2px solid #e5e5e5;
  padding: 13px;
  background: #fff;
  float: left;
  margin: 0px 5px 5px 0px;
  position: relative;
}

.person_fans li:nth-child(4n) {
  margin-right: 0px;
}

.person_fans li .tx {
  width: 90px;
  height: 90px;
  border: 1px solid #bfbfbf;
  float: left;
}

.person_fans li .tx img {
  width: 90px;
  height: 90px;
}

.person_fans li .con {
  width: 180px;
  float: right;
}

.person_fans li .con p.name {
  padding-left: 26px;
  font-size: 16px;
  height: 48px;
  margin-top: 4px;
}

.person_fans li .con p.n_man {
  background: url(../images/ic_man.png) no-repeat left 1px;
}

.person_fans li .con p.n_girl {
  background: url(../images/ic_girl.png) no-repeat left 1px;
}

.person_fans li.n_vip p.name {
  color: #fe3101;
}

.person_fans li .con .cz {
  height: 18px;
  margin-top: 18px;
}

.person_fans li .con .cz span {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
}

.person_fans li .con .cz span.ic_vip {
  width: 66px;
  line-height: 16px;
  background: #fdfa03;
  border: 1px solid #f5c188;
  color: #ef2c27;
}

.person_fans li .con .cz span.ic_yh {
  width: 68px;
  line-height: 18px;
  background: #dfdede;
}

.person_fans li .con .cz a.kj_btn {
  width: 68px;
  line-height: 18px;
  background: #74211f;
  display: inline-block;
  color: #fff;
  text-align: center;
}

.person_fans li a.attention_btn_1 {
  display: inline-block;
  position: absolute;
  top: 2px;
  right: 10px;
  color: #74211f;
}

.person_fans li a.attention_btn_1.on {
  background: url(../images/ic_16.png) no-repeat left;
  padding-left: 19px;
  color: #b1b0b0;
}

.fans_none {
  text-align: center;
  padding: 120px 0px 180px 0px;
}

.fans_none span.ic_none {
  display: inline-block;
  vertical-align: top;
}

.fans_none span.wz {
  font-size: 18px;
  color: #939292;
  margin-top: 120px;
  margin-left: 15px;
  display: inline-block;
}

.message_box {
  padding: 25px 0px;
}

.message_box .title {
  font-size: 18px;
  color: #74211f;
  margin-bottom: 40px;
}

.message_box .cz {
  float: right;
}

.message_box .cz a {
  color: #74211f;
}

.message_box .cz a.delete_btn {
  width: 21px;
  height: 26px;
  background: url(../images/ic_delete1.png) no-repeat;
  display: inline-block;
  margin-right: 24px;
  float: left;
}

.message_box .message_ul li {
  font-size: 14px;
  margin-bottom: 24px;
}

.message_box .message_ul li input.input_1 {
  width: 20px;
  height: 20px;
}

.message_box .message_ul li span.time {
  display: inline-block;
  width: 150px;
  background: url(../images/ic_dd.png) no-repeat left;
  padding-left: 15px;
  float: left;
}

.message_box .message_ul li span.input_cz {
  width: 120px;
  height: 24px;
  display: inline-block;
  text-align: right;
  margin-right: 18px;
  float: left;
}

.message_box .message_ul li span.input_cz input {
  vertical-align: middle;
  display: none;
}

.message_box .message_ul li a.look_btn {
  color: #74211f;
  margin: 0px 10px 0px 30px;
}

.message_box .message_ul li a.look_btn:hover {
  text-decoration: underline;
}

.message_box .message_ul li span.ic_new {
  color: #ff0600;
}

.message_none {
  font-size: 16px;
  text-align: center;
  padding: 50px 0px;
}

.pay_box .t_name {
  font-size: 24px;
  padding: 32px 0px;
}

.pay_infor .pay_order {
  background: #f3f3f3;
  padding: 0px 16px;
  line-height: 46px;
  font-size: 14px;
}

.pay_infor .pay_order span.num {
  display: inline-block;
  margin-left: 50px;
}

.pay_infor .pay_con {
  border: 1px solid #e5e5e5;
  padding: 12px;
}

.pay_infor .pay_con .pt {
  width: 180px;
  float: left;
}

.pay_infor .pay_con .pt img {
  width: 180px;
}

.pay_infor .pay_con .con {
  margin-left: 200px;
}

.pay_fs {
  background: #f5f5f5;
  padding: 12px 16px 20px 16px;
}

.pay_fs .title {
  font-size: 16px;
  margin-bottom: 8px;
}

.pay_fs .fs_ul {
  width: 100%;
  display: table;
  content: "";
}

.pay_fs .fs_ul li {
  width: 320px;
  float: left;
  text-align: center;
}

.pay_fs .fs_ul li label {
  display: inline-block;
}

.pay_fs .fs_ul li label input {
  float: left;
  margin: 10px 10px 0px 0px;
}

.account_con {
  text-align: right;
  padding-bottom: 80px;
}

.account_con p.wz_1 {
  font-size: 22px;
  line-height: 40px;
  margin-bottom: 12px;
}

.account_con p.wz_1 span.price {
  color: #f91d1d;
}

.account_con a.pay_btn {
  width: 154px;
  height: 40px;
  background: #74211f;
  font-size: 16px;
  text-align: center;
  display: inline-block;
  margin-left: 45px;
  color: #fff;
}

.account_con p.wz_2 {
  font-size: 14px;
}

.pay_success {
  min-height: 580px;
  background: url(../images/pay_icon.png) no-repeat left;
  padding-left: 480px;
}

.pay_success .con_1 {
  text-align: center;
  padding-top: 50px;
}

.pay_success .con_1 span.ic_success {
  display: inline-block;
  background: url(../images/ic_success.png) no-repeat left;
  font-size: 24px;
  line-height: 80px;
  padding-left: 100px;
  color: #999;
}

.pay_success .con_1 span.mx {
  border-bottom: 1px solid #b5b5b5;
  min-width: 360px;
  display: inline-block;
  font-size: 16px;
  line-height: 40px;
}

.pay_success .con_1 p.wz_1 {
  margin-top: 10px;
}

.pay_success .con_2 .tt {
  background: #eee;
  padding: 0px 24px;
  line-height: 42px;
  font-size: 14px;
}

.pay_success .con_2 .tt span.price {
  color: #f91d1d;
  font-size: 18px;
}

.pay_success .con_2 .cz {
  padding: 75px 0px;
  text-align: center;
  border: 1px solid #eee;
}

.pay_success .con_2 .cz .p_1 {
  line-height: 30px;
  font-size: 14px;
  margin-bottom: 40px;
}

.pay_success .con_2 .cz a.shopping_btn {
  width: 120px;
  background: #74211f;
  border-radius: 5px;
  text-align: center;
  color: #fff;
  display: inline-block;
  margin-right: 20px;
}

.pay_success .con_2 .cz a.btn_1 {
  color: #74211f;
}

.pay_success .con_2 .cz a.btn_1:hover {
  text-decoration: underline;
}

.pay_success .con_2 .cz .p_2 {
  font-size: 14px;
}

.pay_success .con_2 .cz .p_2 a.btn {
  color: #74211f;
}

.pay_success .con_2 .cz .p_2 a.btn:hover {
  text-decoration: underline;
}

/*pop*/
.wrapper_box {
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.pop_box {
  width: 330px;
  border: 1px solid #74211f;
  background: #fff;
  text-align: center;
  position: absolute;
  top: 38%;
  left: 50%;
  margin-left: -166px;
}

.pop_box .wz_1 {
  font-size: 16px;
  padding: 15px 0px;
  color: #74211f;
}

.pop_box .cz {
  width: 100%;
  display: table;
  content: "";
  border-top: 1px solid #74211f;
}

.pop_box .cz a {
  width: 50%;
  float: left;
  font-size: 14px;
  line-height: 38px;
}

.pop_box .cz a.btn_1 {
  background: #74211f;
  color: #fff;
}

/*page*/
.page {
  font-size: 16px;
  text-align: center;
  padding: 45px 0px 70px 0px;
}

.page a {
  background: #fff;
  line-height: 34px;
  padding: 0px 12px;
  display: inline-block;
  margin: 0px 5px;
  border-radius: 5px;
  border: 1px solid #9f9f9f;
}

.page a:hover {
  color: #74211f;
  border: 1px solid #74211f;
}

.page a.on {
  background: #74211f;
  border: 1px solid #74211f;
  color: #fff;
}

.page span.sl {
  display: inline-block;
  margin: 0px 9px;
}

.page .page_skip {
  display: inline-block;
  margin-left: 12px;
}

.pagination {
  font-size: 16px;
  text-align: center;
  padding: 45px 0px 70px 0px;
}

.pagination a {
  background: #fff;
  line-height: 34px;
  padding: 0px 12px;
  display: inline-block;
  margin: 0px 5px;
  border-radius: 5px;
  border: 1px solid #9f9f9f;
}

.pagination a:hover {
  color: #74211f;
  border: 1px solid #74211f;
}

.pagination em.current {
  line-height: 34px;
  background: #74211f;
  border: 1px solid #74211f;
  color: #fff;
  padding: 0px 12px;
  display: inline-block;
  margin: 0px 5px;
  border-radius: 5px;
  font-style: normal;
}

.pagination span.previous_page {
  line-height: 34px;
  background: #fff;
  border: 1px solid #9f9f9f;
  cursor: pointer;
  padding: 0px 12px;
  display: inline-block;
  margin: 0px 5px;
  border-radius: 5px;
}

.pagination span.next_page {
  line-height: 34px;
  background: #fff;
  border: 1px solid #9f9f9f;
  cursor: pointer;
  padding: 0px 12px;
  display: inline-block;
  margin: 0px 5px;
  border-radius: 5px;
}

/*footer*/
.footer_box {
  background: #e1dfdf;
  padding: 50px 0px 35px 0px;
}

.footer_box .ff_1 {
  width: 100%;
  display: table;
  content: "";
  line-height: 32px;
}

.footer_box .ff_1 dl {
  width: 278px;
  float: left;
  font-size: 20px;
}

.footer_box .ff_1 dl dd a {
  color: #747474;
}

.footer_box .ff_1 dl dd a:hover {
  text-decoration: underline;
}

.footer_box .ff_1 .code {
  float: right;
  padding: 10px 15px 5px 15px;
  border: 1px solid #d2d2d2;
  text-align: center;
  font-size: 18px;
}

.footer_box .ff_1 .code p.wz {
  margin-top: 5px;
}

.footer_box .ff_2 {
  width: 100%;
  display: table;
  content: "";
  margin: 30px 0px 32px 0px;
}

.footer_box .ff_2 li {
  width: 420px;
  float: left;
  font-size: 18px;
  line-height: 30px;
  color: #747474;
}

.footer_box .ff_2 li span.wz {
  color: #333;
}

.footer_box .ff_wz {
  font-size: 16px;
  line-height: 26px;
  color: #747474;
  text-align: center;
}

/**/
